.navbar {
  height: 50px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: black;
  // background-color: #6146c5;


  .wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .top {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .logo {
        font-size: 20px;
        font-weight: bold;
        // color: white;
       
      }
    }

    .search {
      display: flex;
      align-items: center;
      // border: 1px solid white;
      border: 2px solid teal;
      border-radius: 5px;
      padding: 3px;
      color: teal;

      input {
        border: none;
        outline: none;
        background: transparent;
        // color: white;
        color: teal;

        // svg {
        //   // color: white;
        //   color: teal;
        // }

        &::placeholder {
          font-size: 14px;
          // color: white;
          color: teal;
        }
      }
    }

    .log {
      text-decoration: none;
      // color: white;
      color: teal;
      cursor: pointer;
      margin: 0px 20px;
      font-weight: bold;
    }

    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;
      

        .icon {
          font-size: 20px;
          // color: white;
          &:hover {
            
            color: lightgrey;
            cursor: pointer;
            
            }
        }

        .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          // border: 1px solid rgb(231, 229, 229);
        }

        .counter {
          width: 15px;
          height: 15px;
          background-color: red;
          border-radius: 50%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-weight: bold;
          position: absolute;
          top: -5px;
          right: -5px;
        }

        .link {
          text-decoration: none;
          color: white;
          font-size: 14px;
          font-weight: 400;
          // border: 1px solid #7451f8;
          // padding: 5px 5px;
          // margin-left: 10px;
          // border-radius: 5px;
          background-color: #6146c5;
          cursor: pointer;
        
            &:hover {
            
              color: white;
         
           
              
              }
    
          }
      }
    }
  }
}
