.app.dark {
  background-color: #0d071fe7;
  color: white;

  .chartGrid {
    stroke: rgba(228, 228, 228, 0.219);
  }

  .MuiDataGrid-cell {
    border-bottom: rgb(102, 101, 101);
  }

 .itemTitle , .itemKey {
    color:rgb(187, 185, 185) !important;
  }

  .widget {
    .title {
      color: rgba(216, 213, 213, 0.566);
    }

  }



.Mui-checked {
  color: #7551f864;
}

.featured ,.chart ,.widget {
  border: 1px solid #7451f8 !important;
  border-radius: 5px;
}

  // .MuiCheckbox {
  //   color: #7551f864;
  // }

  .table {
    background-color: #111;

    .tableCell {
      color: rgb(187, 185, 185);
    }
  }

  .navbar {
    color: #999;
    border-color: #333;

    .search {
      border-color: gray;
    }
  }

  .sidebar {
    background-color: #0d071f00;
    border-color: #333;

    .top {
      .logo {
        color: #999;
      }
    }
    hr {
      border-color: #333;
    }

    ul {
      li {
        &:hover {
          background-color: #333;
        }

        .icon {
          color: #999;
        }
      }
    }
  }

  select.link {
     background-color: transparent;
  }



  .datatable {
    .datagrid {
      color: rgb(231, 229, 229);
      border: none;

      .viewButton,
      .deleteButton,
      .cellWithStatus {
        color: rgb(221, 219, 219);
        border: none;
      }
    }
  }

  input{
      background-color: transparent;
  }
}
