.new {
  width: 100%;
  display: flex;

  .newContainer {
    flex: 6;

    .smallImg {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
      border: 1px solid lightgray;
      &:hover {
        border: 1px solid teal;
        cursor: pointer;
      }
    }

    .datatableTitle{
      font-size: 24px;
      color: gray;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px 20px 0px 20px;
 
  
      .link{
        text-decoration: none;
        color: #7451f8;
        font-size: 14px;
        font-weight: 400;
        border: 1px solid #7451f8;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
        
      }
    }

    .top,
    .bottom {
      // -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      // box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      border: 1px solid lightgray;
      border-radius: 5px;
      padding: 30px 50px 20px 0px;
      margin: 10px 20px;
      display: flex;

      .icon  {
        cursor: pointer;
        margin-right: 10px;
        color: #7451f8;
        &:hover {
          background-color: teal;
          border-radius: 50%;
          color: white;
        }
      }
  
      h1 {
        color: teal;
        font-size: 20px;
        margin-left: 10px;  
      }

      h3 {
        color: gray;
      }

      .left {
        flex: 1;
        text-align: center;

        img {
          width: 230px;
          height: 230px;
          border-radius: 50%;
          object-fit: cover;
       
        }
      }

      .right {
        flex: 2;

        form {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          justify-content: space-around;

          .formInput {
            width: 40%;

            label {
              display: flex;
              align-items: center;
              gap: 10px;

              .icon {
                cursor: pointer;
              }
            }

            input {
              width: 100%;
              padding: 5px;
              border: none;
              border-bottom: 1px solid gray;
            }
          }

          button {
            width: 120px;
            padding: 10px;
            border: 2px solid #7451f8;
            border-radius: 5px;
            background-color: white;
            color: #7451f8;
            font-weight: bold;
            cursor: pointer;
           margin-bottom: 15px;

            &:hover {
              background-color: #7451f8;
              color: white;
            }

            &:disabled{
              background-color: rgba(3, 92, 92, 0.322);
              cursor: not-allowed;
            }
          }
        }
      }
    }
  }
}
